:root {
    --nav-color: #ffb703;
    --nav-color-hover: #fb8500;
    --image-side-color: #003049;
    --image-border-color: #fcbf49;
    --background-color: #eae2b7;
    --footer-color: #d62828;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    font-family: vazir;
    background-color: var(--background-color);
}

nav {
    display: flex;
    background-color: var(--nav-color);
}

nav a {
    vertical-align: middle;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
    font-size: 1.5rem;
}

nav a:hover {
    background-color: var(--nav-color-hover);
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: 0.8;
}

section {
    display: flex;
    height: 90vh;
}

#image-div {
    background-color: var(--image-side-color);
    padding: 30px;
    padding-left: 70px;
}

#self-image {
    width: 300px;
    border: 30px solid var(--image-border-color);
}

#content-div {
    padding: 20px;
    font-size: 1.3rem;
    flex-grow: 10;
}

#desc-div {
    padding-right: 30px;
}

label {
    font-weight: bold;
}

input {
    font-family: vazir;
    font-size: 1rem;
}

textarea {
    font-family: vazir;
    font-size: 0.8rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--footer-color);
    font-size: 1.2rem;
    text-align: center;
    padding: 2px;
} 

.account-icon {
    margin-right: 10px;
}

i {
    font-size: 30px;
}

.vr {
    display: inline;
    height: 30px;
    border-right: 2px solid darkred;
    margin: 10px;
}
